@model Assignment4_DIS.Models.Stations

@{
    ViewData["Title"] = "Charts";
}

<h1>Showing distance for 5 Gas stations in Tampa</h1>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<div id="chartContainer" class="jumbotron-fluid">
    <script type="text/javascript">

        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Distance of Fuel Stations",
                    padding: 10
                },

                axisX: {
                    title: "Station Name",
                    padding: 10
                },
                axisY: {
                    title: "Distance in Miles",
                    padding: 1
                },
                padding: {
                    left: 0,
                    right: 0,
                    top: 100,
                    bottom: 0
                },

                data: [
                    {
                        type: "bar",
                        dataPoints: [

                            { label: "CHARGER 01", y: @Model.data.ToArray()[0].distance },
                            { label: "BROOKE 02", y: @Model.data.ToArray()[1].distance },
                            { label: "BROOKE 01", y: @Model.data.ToArray()[2].distance },
                            { label: "BROOKE 03", y: @Model.data.ToArray()[3].distance },
                            { label: "SUNTRUST STFC #1", y: @Model.data.ToArray()[4].distance },
                       
                        ]
                    }
                ]
            });
            chart.render();
        };
    </script>
</div>

