@model Assignment4_DIS.Models.Stations
@{ int i = -1;}
@{ string location = ViewBag.location;}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FuelStations</title>

    <link rel="stylesheet" type="text/css" href="../css/FuelStations.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
</head>
<body>
        <div class="tab" style="text-align:center;">
            <form method="post" asp-controller="Stations" asp-action="GetStationsWithLocation">

                <input id="txtSearch" class="search" type="text" placeholder="Search here with Location.." name="location">

                <button type="submit">Search</button>

            </form>

            <br>
            <table id="t01">

                <tr>
                    <th>Fuel Station Name</th>
                    <th>Fuel Type</th>
                    <th>Distance In Miles</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Electric Vehicle Pricing</th>
                    <th>Electric Vehicle Network</th>
                    <th></th>
                    

                </tr>
                @foreach (var d in Model.data)
                {
                  i =i+ 1;

            <tr>
                <td>@d.station_name</td>
                <td>@d.fuel_type_code</td>
                <td>@d.distance</td>
               
               
                
                <td>@d.state</td>
                <td>@d.country</td>
                <td>@d.ev_pricing</td>
                <td>@d.ev_network</td>
                <td>
                    <div class="text-center">
                        <a asp-controller="Stations" asp-action="Details" asp-route-data=@i+@location>Details</a>
                    </div>
                </td>
            </tr>
                   
                }
              
            </table>

        </div>
</body>
</html>
